<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <Intro title="Intro" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Intro from "@/components/Intro.vue";

export default {
  name: "Home",
  components: {
    HelloWorld,
    Intro
  }
};
</script>
