<template>
  <div class="intro">
    <h2>{{ title }}</h2>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    title: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.intro {
  padding: 10px;
  color: #fff;
  background: red;
}
</style>
